.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-input {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.checkbox-input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox-label {
  font-size: 1rem;
  color: #333;
}

.checkbox-container:has(.checkbox-input:disabled) {
  cursor: not-allowed;
  opacity: 0.6;
}
